<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/harshbodhi03/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="harshbodhi03" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>